# Database Configuration
export DB_NAME=epytodo
export DB_USER=vasek
export DB_PASS=Ke3pItSeCret
export DB_HOST=localhost
export DB_PORT=5432

export DB_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# API Configuration
export API_PORT=5000
export API_HOST=localhost