.LoginElems {
    position: absolute;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    top: 40%;
    left: 45%;
}

.form-control {
    margin-bottom: 1vh;
}

.form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    position: relative;
    display: flex;
}
